<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <style type="text/css">
      .list {
      	font-family:sans-serif;
      	margin:0;
      	padding:20px 0 0;
      }
      .list > li {
      	display:block;
      	background-color: #eee;
      	padding:10px;
      	box-shadow: inset 0 1px 0 #fff;
      }
      .avatar {
      	max-width: 150px;
      }
      img {
      	max-width: 100%;
      }
      h3 {
      	font-size: 16px;
      	margin:0 0 0.3rem;
      	font-weight: normal;
      	font-weight:bold;
      }
      p {
      	margin-bottom:10px;
      }
      input {
      	border:solid 1px #ccc;
      	border-radius: 5px;
      	padding:7px 14px;
      	margin-bottom:5px
      }
      input:focus {
      	outline:none;
      	border-color:#aaa;
      }
      .addCard{
      	margin-left: 20px;
      }
      .select2-container{
      	margin-bottom:5px;
      }
      .comboName{
      	max-width: 25%;
      }
      .preview{
      	background-color: grey;
      	width: 223px;
      	height:310px;
      	border-radius:10px;
      	box-shadow: 2px 2px 0px 1px black;
      }
      #targetImage{
		  width: 260px;
		  height: 310px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <hr>
      <div class="row">
        <div class="col-xs-6">
          <h1>Add a new card to the database</h1>
        </div>
        <div class="col-xs-6">
          <p class="text-right"><a href="">Download my Resume <span aria-hidden="true" class="glyphicon glyphicon-download-alt"></span></a></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-8 col-lg-7">
          <div class="row">
            <div class="col-xs-3">
              <h4>Combo name: </h4>
            </div>
            <div class="col-xs-9">
              <input type="text" value="comboName" class="form-control comboName">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <h4>Type of combo:</h4>
            </div>
            <div class="col-xs-9">
              <select name="typeOfCombo" class="typeOfComboSelection">
                <option>infinite mana</option>
                <option>infinite damage</option>
                <option>draw library</option>
                <option>lethal damage</option>
                <option>storm</option>
                <option>graveyard</option>
              </select>
            </div>
          </div>
          <h2>Add cards:</h2>
          <div class="row">
            <div class="col-xs-3">
              <h4 id="CardNum1">Card #1: </h4>
            </div>
            <div class="col-xs-9">
              <select name="state" id="id0" class="cardsSelection">
                    <option>infinite mana</option>
					<option>infinite damage</option>
					<option>draw library</option>
					<option>lethal damage</option>
					<option>storm</option>
					<option>graveyard</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-lg-5">
          <div class="col-sm-6 col-lg-12 preview"><img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=990&type=card" id="targetImage" alt=""></div>
        </div>
      </div>
      <div class="row">
        <input type="submit" value="Enviar nuevo combo" class="btn btn-primary btn-lg">
        <input type="button" value="+" class="btn btn-secondary btn-lg addCard">
      </div>
    </div>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-lg-offset-3 col-xs-12 col-lg-6">
          <div class="jumbotron">
            <div class="row text-center">
              <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12"> </div>
              <div class="text-center col-lg-12">
                <!-- CONTACT FORM https://github.com/jonmbake/bootstrap3-contact-form-->
                <form id="feedbackForm" role="form" class="text-center">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" type="text" name="name" placeholder="Name" class="form-control"><span style="display: none;" class="help-block">Please enter your name.</span>
                  </div>
                  <div class="form-group">
                    <label for="email">E-Mail</label>
                    <input id="email" type="email" name="email" placeholder="Email Address" class="form-control"><span style="display: none;" class="help-block">Please enter a valid e-mail address.</span>
                  </div>
                  <div class="form-group">
                    <label for="message">Message</label>
                    <textarea id="message" rows="10" cols="100" name="message" placeholder="Message" class="form-control"></textarea><span style="display: none;" class="help-block">Please enter a message.</span>
                  </div><span style="display: none;" class="help-block">Please enter a the security code.</span>
                  <button id="feedbackSubmit" type="submit" style=" margin-top: 10px;" class="btn btn-primary btn-lg"> Send</button>
                </form>
                <!-- END CONTACT FORM-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <footer class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p>Copyright © MyWebsite. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- Include all compiled plugins (below), or include individual files as needed-->
    <script src="js/bootstrap.js"></script>
    <script>
      var numCards = 0;
      $(document).ready(function() {
      	$('#id0').select2({minimumInputLength: 2});
      	$('.typeOfComboSelection').select2();
      	$('.cardsSelection').on('select2:select', function(e){
      		var name = e.params.data["text"];
      		$.get(window.location.href,"getPicture:"+name,updatePicture,"text");
      	});
      	function updatePicture(response){
      		$("#targetImage").attr("src",response);
      		}
      	$('.addCard').on('click',function(){
      		if(numCards <7){
      			$.get(window.location.href,"addCard",addCard,"text")
      			}
      		else{
      			alert("only 8 cards per combo please.	");
      			}
      	})
      	function addCard(response){
      		numCards++;
      		var $select = $("<select>").html(response);
      		$select.attr("id","id"+numCards).attr("class","cardsSelection")
      		var prevCard = numCards -1;
      		var nextCard = numCards + 1;
      		$("#id"+prevCard).after("<br>").after($select);
      		$("#CardNum"+numCards).after("<h4 id='CardNum"+nextCard+"' >Card #"+nextCard+":</h4>");
      		$("#id"+numCards).select2({minimumInputLength: 2}).on('select2:select', function(e){
      			var name = e.params.data["text"];
      			$.get(window.location.href,"getPicture:"+name,updatePicture,"text");
      		});
      	}
      });
    </script>
  </body>
</html>